body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #f8f9f9;
  font-family: sans-serif;
}

.container {
  text-align: center;
}

.page {
  width: 350px;
  background: #fff;
  border-radius: 5px;
  padding-bottom: 15px;
}

.logo {
  display: block;
  margin: 0 auto 10px;
}

form {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

form input {
  margin-bottom: 5px;
  border: 1px solid #b6b6b6;
  background: #faf9f9;
  border-radius: 3px;
  outline: none;
  padding-left: 10px;
  height: 35px;
}

form button {
  border: none;
  background: rgb(76, 180, 248);
  padding: 8px 0;
  margin-top: 10px;
  color: #fff;
  border-radius: 7px;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 1px;
  cursor: pointer;
}

form button:active {
  background: rgb(24, 119, 242);
  transform: scaleX(0.995);
}

.option {
  color: #b6b4b4;
  margin: 70px 0 0;
  position: relative;
}

.option::before,
.option::after {
  position: absolute;
  content: '';
  width: 37%;
  height: 1px;
  background: #b6b6b6;
  top: 50%;
  border-radius: 50px;
}

.option::before {
  left: 0;
}

.option::after {
  right: 0;
}

.singup {
  border: 1px solid #b6b6b6;
  border-radius: 2px;
  width: 90%;
  margin: 25px auto 0;
  padding: 5px 0;
}

.singup a {
  text-decoration: none;
  color: rgb(76, 180, 248);
  font-weight: bold;
}
